<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navBar">
            <div class="containerImg">
                <a th:href="@{/}" class="navbar-brand d-flex align-items-center" id="navbar-logo">
                    <img th:src="@{/img/ipfs.png}" width="100px" height="auto" alt="Img logo egg">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto elementos">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Relevamientos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" th:href="@{/relevamiento/registrar}">Crear Relevamiento</a></li>
                            <li><hr class="dropdown-divider"></li>

                            <li><a class="dropdown-item"   th:href="@{/relevamiento/listar}">Listar Relevamiento</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Siniestros 
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item"  th:href="@{/siniestro/registrar}">Crear Siniestro</a></li>
                            <li><hr class="dropdown-divider"></li>

                            <li><a class="dropdown-item"  th:href="@{/siniestro/listar}">Listar Siniestro</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Conductores 
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item"  th:href="@{/conductor/registrar}">Crear Conductor</a></li>
                            <li><hr class="dropdown-divider"></li>

                            <li><a class="dropdown-item"  th:href="@{/conductor/listar}">Listar conductor</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Vehiculos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item"  th:href="@{/vehiculo/registrar}">Crear Vehiculo</a></li>
                            <li><hr class="dropdown-divider"></li>

                            <li><a class="dropdown-item" th:href="@{/vehiculo/listar}">Listar Vehiculo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Clientes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item"   th:href="@{/cliente/registrar}">Registrar clientes</a></li>
                            <li><hr class="dropdown-divider"></li>

                            <li><a class="dropdown-item"  th:href="@{/cliente/listar}">Listar Clientes</a></li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Perfil
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/perfil}">Editar Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="/registrar" id="navbarDropdown" role="button" aria-expanded="false">
                            Registrate!
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/login" id="navbarDropdown" role="button" aria-expanded="false">
                            LOGIN!
                        </a>

                    </li>
                </ul>
            </div>
        </nav>
        <div>TODO write content</div>
    </body>
</html>
